{{!-- <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
        </div>
    </div>
</footer> --}}

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/vendor/js/sb-admin-2.js"></script>

<!-- Page level plugins -->
{{!-- <script src="/static/vendor/chart.js/Chart.min.js"></script> --}}

<!-- Page level custom scripts -->
{{!-- <script src="/static/vendor/js/demo/chart-area-demo.js"></script> --}}
{{!-- <script src="/static/vendor/js/demo/chart-pie-demo.js"></script> --}}

<script src="/static/vendor/toast/toast.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/vendor/js/demo/datatables-demo.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(".js-select2").select2({
        closeOnSelect : false,
        placeholder : "Select",
        allowHtml: true,
        allowClear: true,
        tags: true 
    });
</script>