<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Docplix</div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="/">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link" href="/category">
			<i class="fas fa-fw fa-cog"></i>
			<span>Category</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/labandfitness">
			<i class="fas fa-fw fa-cog"></i>
			<span>Lab & Fitness Tags</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/branch">
			<i class="fas fa-fw fa-cog"></i>
			<span>Branch</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/symptomcategory">
			<i class="fas fa-fw fa-cog"></i>
			<span>Symptoms Category</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/services">
			<i class="fas fa-fw fa-cog"></i>
			<span>Service</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/college">
			<i class="fas fa-fw fa-cog"></i>
			<span>College</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/degree">
			<i class="fas fa-fw fa-cog"></i>
			<span>Degree</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/speciality">
			<i class="fas fa-fw fa-cog"></i>
			<span>Speciality</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/healthfeed">
			<i class="fas fa-fw fa-cog"></i>
			<span>Health Feed</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/doctor">
			<i class="fas fa-fw fa-cog"></i>
			<span>Doctors</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/organisation">
			<i class="fas fa-fw fa-cog"></i>
			<span>Organisation</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/notification">
			<i class="fas fa-fw fa-cog"></i>
			<span>Notification</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/coupon">
			<i class="fas fa-fw fa-cog"></i>
			<span>Coupon</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/medicine-type">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medicine Type</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/medicine-company">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medicine Company</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/medicine">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medicine</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/examination">
			<i class="fas fa-fw fa-cog"></i>
			<span>Examination</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/diagnosis">
			<i class="fas fa-fw fa-cog"></i>
			<span>Diagnosis</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/helpquestion">
			<i class="fas fa-fw fa-cog"></i>
			<span>Help Question</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/helpreport">
			<i class="fas fa-fw fa-cog"></i>
			<span>Help User Report</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/medicalalert">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medical Alert</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/allergies">
			<i class="fas fa-fw fa-cog"></i>
			<span>Allergy</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/doses">
			<i class="fas fa-fw fa-cog"></i>
			<span>Doses</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/specialization">
			<i class="fas fa-fw fa-cog"></i>
			<span>Specialization</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/medicinenote">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medicine Notes</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/commission">
			<i class="fas fa-fw fa-cog"></i>
			<span>Docplix Commission</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/visulizationcategory">
			<i class="fas fa-fw fa-cog"></i>
			<span>Visulization Category</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/medicalhistorytype">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medical History Type</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/medicalhistoryoption">
			<i class="fas fa-fw fa-cog"></i>
			<span>Medical History Option</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/followupcallvalidity">
			<i class="fas fa-fw fa-cog"></i>
			<span>Followup Call Validity</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/wallet">
			<i class="fas fa-fw fa-cog"></i>
			<span>Wallet</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/banner">
			<i class="fas fa-fw fa-cog"></i>
			<span>Banner</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/webbanner">
			<i class="fas fa-fw fa-cog"></i>
			<span>Web Banner</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/drsquestion">
			<i class="fas fa-question-circle"></i>
			<span>DRS</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/drssuggestion">
			<i class="fas fa-lightbulb"></i>
			<span>DRS Suggestion</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/drsvideos">
			<i class="fas fa-video"></i>
			<span>DRS Video</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/drsblogs">
			<i class="fas fa-blog"></i>
			<span>DRS Blogs</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/mealtype">
			<i class="fas fa-coffee"></i>
			<span>Meal Type</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/seminar">
			<i class="fas fa-video"></i>
			<span>Seminar</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/quizcategory">
			<i class="fas fa-list-alt"></i>
			<span>Quiz Category</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/questionofday">
			<i class="fas fa-list-alt"></i>
			<span>Question of day</span>
			</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/seminar/users">
			<i class="fas fa-video"></i>
			<span>Seminar Users</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/leads">
			<i class="fas fa-video"></i>
			<span>Leads</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/quiz">
			<i class="fas fa-list-alt"></i>
			<span>Quiz</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/patient">
			<i class="fas fa-users"></i>
			<span>Patient</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/preventiveprogram">
			<i class="fas fa-archive"></i>
			<span>Preventive Program</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/blog">
			<i class="fas fa-archive"></i>
			<span>Health Report Blog</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/metadata/Terms & Conditions">
			<i class="fas fa-archive"></i>
			<span>Terms & Conditions</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/metadata/Refund Policy">
			<i class="fas fa-archive"></i>
			<span>Refund Policy</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="/metadata/Privacy Policy">
			<i class="fas fa-archive"></i>
			<span>Privacy Policy</span>
		</a>
	</li>

</ul>