<style type="text/css">
	
#error-page{
  height: 100vh;
  display: flex;
  align-items: center;
}

#error-page .image-wrapper{
width: 100%;
display: inline-block;
text-align: center;
}



</style>

<section id="error-page">
	<div class="image-wrapper">
	<img src="/static/images/500.png" style="max-width: 50%;height: auto;">
     </div>
</section>

